* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f0f0;
    margin-right: 2%;
}

.container {
    display: flex;
    height: 100vh;
}

h1, h2, p, a, td, th {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1, h2, th {
    font-weight: 700;
}

p, td {
    font-weight: 400;
}

a {
    font-weight: 300;
    text-decoration: none;
}
 span{
    
    font-weight: 300;
    font-style: normal;
  }

/* start navigatiebar */

.sidebar {
    
    background-color: #1A1919;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-right: 54px;
}

.sidebar a{
    color: #666666;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
    margin: 50px 32px 32px 32px;
}

.nav-item span {
    font-size: 16px;
    font-weight: normal;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    color: #666666;
    opacity: 100%;
    padding: 12px 0;
    margin: 20px 0;
    cursor: pointer;
    margin-left: 32px;
}

.nav-item i {
    font-size: 24px;
    margin-right: 12px;
}

.nav-item.active {
    background-color: #006AFF;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 12px 0 12px 16px;
    color: white;
}

.nav-item.active span{
    
    color: white;
}

#algemeen{
    margin: 24px 0;
    margin-left: 32px;
}

.nav-item.logout {
    background-color: #484747;
    padding: 12px 0 12px 46px;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
}

.logout span {
    font-size: 16px;
    color: white;
}

.general li:nth-last-child(2) {
    margin-bottom: 186px;
}




.general {
    color: #808080;
}

.separator {
    height: 1px;
    background-color: white;
    opacity: 20%;
    margin: 4px 24px 28px 24px;
}

/* einde */

.main-content {
    flex-grow: 1;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flex{
    display: flex;
}

.header h1 {
    font-size: 24px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info span {
    display: block;
}

/* Calendar styles */
#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.calendar {
    height: 30rem; 
    width: 100%;
    background-color: white;
    border-radius: 15px; 
    overflow: hidden;
    padding: 20px; 
}

.calendar span{
    color: #007bff;
    font-weight: 600;
}

.calendar-header {
    background: white;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
    padding: 5px;
}

.calendar-body {
    padding: 5px; 
}

.calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: rgb(104, 104, 104);
    text-align: center;
}

.calendar-week-days div:hover {
    color: black;
    transform: scale(1.1); 
    transition: all .2s ease-in-out;
}

.calendar-week-days div {
    display: grid;
    place-items: center;
    color: #007bff;
    height: 40px; 
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: #0A0921;
   

}

.calendar-days div {
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    margin-left: 60px;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: #007bff;
    transition: all .2s ease-in-out;
    transform: scale(1.12);
    color: white;
}

.calendar-footer {
    padding: 5px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#year:hover {
    cursor: pointer;
    transform: scale(1.1); 
    transition: all 0.2 ease-in-out;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #007bff;
    border-radius: 20%;
    color: #f8fbff;
}

.calendar-days div.current-date {
    color: #f8fbff;
    background-color: #007bff;
    border-radius: 20%;
}

.month-list {
    position: relative;
    left: 0;
    top: -130px;
    background-color: #ebebeb;
    color: #151426;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
}

.month-list>div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
}

.month-list>div>div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.month-list>div>div:hover {
    background-color: #007bff;
    color: #f8fbff;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
}

.month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
}

.month-list.hideonce {
    visibility: hidden;
}

.month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
}

.date-time-formate {
    height: 4rem;
    width: 100%;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
}

.day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #007bff;
}

.date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 5%;
}

.time-formate {
    font-size: 1.5rem;
}

.time-formate.hideTime {
    animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
    animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
    animation: showtime 1s forwards;
}

.time-formate.showtime {
    animation: showtime 1s forwards;
}

.date-formate.showtime {
    animation: showtime 1s forwards;
}

@keyframes to-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left {
    0% {
        transform: translatex(230%);
        opacity: 1;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes to-right {
    10% {
        transform: translatex(0);
        opacity: 1;
    }

    100% {
        transform: translatex(-150%);
        opacity: 1;
    }
}

@keyframes showtime {
    0% {
        transform: translatex(250%);
        opacity: 1;
    }

    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes hidetime {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }

    100% {
        transform: translatex(-370%);
        opacity: 1;
    }
}


.deadlines{
    margin-left: 2%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    height: 100%;
    width: 30%;
}

.deadlines p{
   margin-top: 50%;
    text-align: center;
    align-items: center;
    
}

.deadlines h2 {
    display: inline-block;
    vertical-align: middle;
    padding-right: 2em; 
    font-size: 1.3em;
}

.deadlines a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2em; 
    color: #007bff;
}
